---
import Posthog from "@components/posthog.astro";
import { SEO } from "astro-seo";
---
<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport"> 
        <Posthog/>
        <SEO
        title="Chromium"
        description="A new, next generation web proxy with all the buzzwords."
        openGraph={{
          basic: {
            title: "Chromium",
            type: "website",
            image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          }
        }}
        twitter={{
          creator: "@Coding4Hours"
        }}
        extend={{
          link: [{          // extending the default link tags
 rel: "icon", href: "/favicon.ico" }],
          // extending the default meta tags
          meta: [
            {
              name: "twitter:image",
              content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
            },
            { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
            { name: "twitter:description", content: "Agent" },
          ],
        }}
      />
    </head>
    <body>
        <slot/>
    </body>
</html>